* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
		}
body{

}
a{
	text-decoration: none;
}
li {
	list-style-type: none;
}
img{
	width: 100%;
	height: 100%;
}
.layout{
	display:flex;
}

/*
					
					SAIDBAR 
					
					
SAIDBAR, MAIN MENU STYLE:
*/

.saidbarBox{
	background: #242b2e;
	box-shadow: 0 0 51px;
	z-index: 1;

}
.saidbar{
	margin-top: 125px;
	width: 300px;
	background: #242b2e;
}
.logo{
	
	height: 125px;
	width: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Roboto';	font-size: 30px;
	background: white;
	position: absolute;
	top: 0;
	left:0;
	z-index: 10;
}

.mainMenu__Item{
	display: inline-block;
	font-family: Roboto, Arial;
	font-size: 18px;
	font-weight: 100;
	color: #ffffff;
	text-align: right;
	width: 100%;
	height: 60px;
	margin-bottom: 1px;
	padding: 25px 25px 25px 0px;
	background-image: linear-gradient(top,#333b3f,#2e363a);
	background-image: -o-linear-gradient(top,#333b3f,#2e363a);
	background-image: -moz-linear-gradient(top,#333b3f,#2e363a);
	background-image: -webkit-linear-gradient(top,#333b3f,#2e363a);
}
.mainMenu__Item:hover{
	background-image: linear-gradient(top,#d7d7d7,#acacac);
	background-image: -o-linear-gradient(top,#d7d7d7,#acacac);
	background-image: -moz-linear-gradient(top,#d7d7d7,#acacac);
	background-image: -webkit-linear-gradient(top,#d7d7d7,#acacac);
}
.mainMenu__Item_selected{
	backgroundimage: linear-gradient(top,#31bcba,#19a4a2);
	background-image: -o-linear-gradient(top,#31bcba,#19a4a2);
	background-image: -moz-linear-gradient(top,#31bcba,#19a4a2);
	background-image: -webkit-linear-gradient(top,#31bcba,#19a4a2);
}


/*
SAIDBAR, FILTER MENU STYLE:
*/
.saidbar__filter{
	height: 220px;
	margin-bottom: 1px;
	padding: 25px;
	text-align: right;
	border-bottom: 1px solid #1e282b;
}
.saidbar__filterHeadline{
	font-family: Roboto, Arial;
	font-size: 17px;
	color: #1ba2a1;
	margin-bottom: 16px;
	
}
.saidbar__filterHeadline img{
	display: inline-block;
	margin-left: 13px;
	width: 17px;
	height: 15px;
}
.saidbar__filterHeadline:hover{
		color: #d7d7d7;
}
.filterMenu__item{
	margin: 7px 0px;
	font-family: Roboto, Arial;
	font-size: 13px;
	color: #6b7072;
	
}
.filterMenu__item:hover{
	color: #d7d7d7;
}
.filterMenu__item_selected{
	color: #ffffff;
}

/*
SAIDBAR, FOOTER STYLE:
*/
.socialIcons{
	display: flex;
	padding: 28px 25px 22px 50px;
	justify-content: space-between;
}
.socialIcons__item{
	display: inline-block;
	width: 24px;
	height: 24px;
}
.socialIcons__item_flickr{
	background-image: url(../img/webicon-flickr.png);
}
.socialIcons__item_googleplus{
	background-image: url(../img/webicon-googleplus.png);
}
.socialIcons__item_twitter{
	background-image: url(../img/webicon-twitter.png);
}
.socialIcons__item_pinterest{
	background-image: url(../img/webicon-pinterest.png);
}
.socialIcons__item_dribbble{
	background-image: url(../img/webicon-dribbble.png);
}
.socialIcons__item_behance{
	background-image: url(../img/webicon-behance.png);
}
.socialIcons__item_facebook {
	background-image: url(../img/webicon-facebook.png);
}
.saidbar__foot{
	font-family: Roboto, Arial;
	font-size: 12px;
	color: #6b7072;
	text-align: right;
	padding-right: 25px;
}


/*

			MAIN BLOCK
					
*/

.mainBlock{
	background: #242b2e ;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	
}
/*
MAINBLOCK, HOME PAGE CONTENT STYLE:
*/
.mainBlock__content{
	min-width: 320px;
	width: 25%;
	font-family: arial;
	position: relative;	
}
.mainBlock__blackout{
	background: #31bcba;
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	opacity: 0;
	text-align: center;
	color: white;
	font-family: Roboto, Arial;
}

.mainBlock__coolHeading{
	font-size: 24px;
	margin-top: 75px;
}
.mainBlock__coolLettering{
	display: inline;
	font-size: 12px;
	padding-bottom: 18px;
	border-bottom: 1px solid white;
}
.coolLink{
	display: inline-block;
	border: 1px solid white;
	border-radius: 50%;
	width: 62px;
	height: 62px;
	margin-top: 35px;	
}
.coolLink__flexbox{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
}
.mainBlock__blackout:hover{
	opacity: 1;
	background: rgba(49, 188, 186, 0.7) ;
}

/*
MAINBLOCK, CONTACTS STYLE:
*/

.contactsBox{
	position: fixed;
	right: 0px;
	top: 0px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;	
}
.contactsBox:hover  .contactsList{
	width: 284px;
	height: 130px;
	padding: 20px 0px 20px 50px;
	transform: translateY(0);
}
.contactsButton{
	width: 90px;
	height: 90px;
	background: #31bcba;
	padding: 15px;
}
.contactsButton__border{
	border: 2px solid white;
	border-radius: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
}
.contactsButton__i{
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	background: white;
	color: rgba(49, 188, 186, 0.7);
	border-radius: 50%;
	height: 100%;
	width: 100%;
}
.contactsList{
	font-size: 16px;
	font-family: Roboto, Arial;
	color: #ffffff;
	width: 0;
	height: 0;
	background: rgb(0,0,0, 0.7);
	transform: translateY(-600px);
	transition: transform .5s;
}
.contactsList__mobile{
	list-style-image: url(../img/contact_icon_mobile.png);
	margin: 10px;
}
.contactsList__mail{
	list-style-image: url(../img/contact_icon_mail.png);
	margin: 10px;
}
.contactsList__address{
	list-style-image: url(../img/contact_icon_address.png);
	margin: 10px;
}

/*

MAINBLOCK, BLOG PAGE POSTS STYLE:

*/

.mainBlock__blogColumn{
	width: calc(20% - 20px );
	min-width: 250px;
	margin: 10px;
}
.postBox{
	width: 100%;
	margin-top: 20px;
	transition: transform 1s;
	position: relative;

}
.postBox:hover {
	transform: scale(1.12);
	position: relative;
	z-index: 10;
	margin-bottom: 0;
}
.postBox__blackout{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #31bcba;
	opacity: 0.7;
	display: none;
	justify-content: center;
	align-items: center;
}
.postBox:hover .postBox__blackout{
	display: flex;
}

/*post standart style:*/

.post{
	background: white;
}
.post__cover{
	width: 100%;
}
.post__cover img{
	width: 100%;
	object-fit: cover;
	object-position: center;
}
.post__content{
	font-family: Roboto;
	padding: 20px;
}
.post__heading{
	margin-bottom: 20px;
}
.post__text{
	color: #818181;	
}

.post__footer{
	display: flex;
	border-top: 1px solid #e3e3e3;
	color: #818181;
}
.post__comments{
	margin: 15px;
}
.post__date{
	margin: 15px;
}
.icon{
	width: 20px;
	height: 15px;
}

/*post imeg style:*/

.postBox_imeg img{
	width: 100%;
	object-fit: cover;
	object-position: center;
}

/*post quotes style:*/

.postBox_quote{
	background: #b3b7b8;
	padding: 30px;
	max-height: 200px;
}
.quote{
	font-family: 'Dancing Script', cursive;
	font-size: 22px;
	padding: 5px;
}
.signature{
	font-family: Roboto;
	color: #1ab6b5;
	font-size: 24px;	
	padding: 5px;
}

/*post gallery style:*/

.post__cover_gallery{
	position: relative;
}
.sliderBox{
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	justify-content: space-between;
}
.sliderBox__slider{
	background: #1ab5b3;
	width: 20%;
	height: 40px;
	font-size: 30px;
	color: white;
	border: 0;
	opacity: 0.8;
}

/*post link style:*/

.postBox_link{
	background: #1ab5b3;
	color: white;
	font-family: 'Roboto';
	font-size: 18px;
	text-align: center;
	padding: 30px 20px;
}
.postBox_link a{
	color: white;
}

/*post video style:*/

.video{
	width: 100%;
}

/*post asaid style:*/

.postBox_asaid{
	background: #b3b7b8;
	border-left: 10px solid #1ab5b3;
	padding: 20px;
	font-family: roboto;
}
.postBox_asaid h3{
	color: #1ab5b3;
}
.asaid{
	font-size: 14px;
	color: black;
	margin-top: 20px;
}

/*button "old post" style:*/

.oldPostsButton{
	background: #1ab5b3;
	width: 180px;
	height: 60px;
	font-size: 30px;
	color: white;
	border: 0;
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
	align-self: end;
	margin: 10px auto 0px;
	
}

/*
BURGER MENU STYLES:
*/

.burger{
	width: 70px;
	display: none;
	z-index: 100;
	margin-top: 125px;
	padding: 5px 0px;
	position: fixed;
	background: #242b2e;
	opacity: 0.7;
}
.burger__button{
	background: white;
	width: 50px;
	height: 7px;
	margin: 10px;
}
.burger__inscript{
	writing-mode: vertical-lr;
	font-size: 50px;
	font-family: 'Roboto';
	color: white;
	text-transform: uppercase;
	margin-top: 70px;
}

/*
MEDIA REQUEST:
*/

@media screen and (max-width: 1700px){
	.mainBlock__content{
		width: 33%;
	}
	.mainBlock__blogColumn{
		width: calc(25% - 20px );
	}
	.mainBlock_blogPage{
		padding-bottom: 70px;
	}
	.oldPostsButton{
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}

@media screen and ( max-width: 1400px ){
	.mainBlock__content{
		width: 50%;
	}
	.mainBlock__blogColumn{
		width: calc(33% - 20px );
	}
}
@media screen and ( max-width: 1100px ){
	.mainBlock__blogColumn{
		width: calc(50% - 20px );
	}
}

@media screen and ( max-width: 1000px ){
	.mainBlock__content{
		width: 100%;		
	}
	.contactsButton{
		width: 70px;
		height: 70px;
		padding: 7px;
		opacity: .7;
	}
	..contactsButton__border{
		padding: 0px;
	}
	.contactsButton__i{
		font-size: 18px;
	}
	.logo{
		position: absolute;
		top: 0;
		right: 0;
		z-index: 10;
		width: 100%;
	}
	.saidbar{
		margin-top: 0;
	}
	.mainBlock{
		position: relative;
		top: 125px;
	}
	.contactsBox{
		top: 125px;
	}
	.mainMenu{
		margin-top: 125px;
	}
	.mainBlock__blogColumn{
		width: calc(100% - 20px );
	}
	.sliderBox__slider{
		height: 80px;
	}
}
@media screen and ( max-width: 700px ){
	.burger{
		display: block;
	}
	.saidbar{
		display: none;
	}
	.saidbarBox:hover .saidbar{
		display: block;
	}
	.saidbarBox:hover .burger{
		display: none;
	}
	

}
